.col-sm-12
  h2 Filters
  div.filter(
    ng-repeat="type in types"
    ng-click="select(type)"
    ng-class="{selected: type.selected}"
    class="col-sm-2"
  )
    i(class="glyphicon glyphicon-book")
    | {{type.name}}

.col-sm-12
  h2 Snippits
  div.snippit(
    ng-repeat="snippit in snippits | where : {type: filter}"
    class="col-sm-4"
  ) 
    h2 {{snippit.name}} ({{snippit.type}})
    pre {{snippit.code}}
    button.practice(
      ng-click="openSnippit(snippit)"
    )
      i.glyphicon.glyphicon-flag
      | Pratice

typr-button(
  clicked="showUpload()"
)
