div(
  layout="row"
  layout-margin="10"
  flex
)
  .md-whiteframe-z1.fade(
    flex="20"
    ng-if="animate.filters"
  )
    md-toolbar
      .md-toolbar-tools
        span Language Filters
        span(flex)
    md-content.text-center
      md-button(
        ng-click="setLanguage(language)"
        ng-repeat="language in languages"
      ) {{language}}
  
  .md-whiteframe-z1.fade(
    flex="80"
    ng-if="animate.charts"
  ) 
    md-toolbar
      .md-toolbar-tools
        span Your Progress
        span(flex)
        md-button.md-icon-button(
          ng-click="setChartType('accuracy')"
        )
          md-icon(
            md-font-library="material-icons"
          ) done
          
        md-button.md-icon-button(
          ng-click="setChartType('charsPerMin')"
        )
          md-icon(
            md-font-library="material-icons"
          ) hourglass_empty
          
        md-button.md-icon-button(
          ng-click="setChartType('tokensPerMin')"
        )
          md-icon(
            md-font-library="material-icons"
          ) hourglass_full
          
          
    md-content.md-padding
      canvas.chart.chart-line(
        chart-labels="charts[currentLanguage][chartType].labels" 
        chart-legend="false" 
        chart-series="charts[currentLanguage][chartType].series"
        chart-data="charts[currentLanguage][chartType].data"
      )
      
    //- md-toolbar
    //-   .md-toolbar-tools
    //-     span Tokens Per Minute
    //-     span(flex)
    //- md-content.md-padding
    //-   canvas.chart.chart-line(
    //-     chart-labels="charts.tokensPerMin.labels" 
    //-     chart-legend="false" 
    //-     chart-series="charts.tokensPerMin.series"
    //-     chart-data="charts.tokensPerMin.data"
    //-   )
      
    //- md-toolbar
    //-   .md-toolbar-tools
    //-     span Characters Per Minute
    //-     span(flex)
    //- md-content.md-padding
    //-   canvas.chart.chart-line(
    //-     chart-labels="charts.charsPerMin.labels" 
    //-     chart-legend="false" 
    //-     chart-series="charts.charsPerMin.series"
    //-     chart-data="charts.charsPerMin.data"
    //-   )
