div 
  .title(
    ng-click="toggle(model)"
  ) {{model[display] || 'Click to Edit Recipe ' + model[key]}}
  
  .panel(
    ng-show="expanded[model[key]]"
  )
    editable(
      ng-if="attributes[attribute]"
      ng-repeat="(attribute, value) in model"
      attribute="{{attribute}}"
      model="model[attribute]"
    )
    
    button(
      ng-click="save(model)"
    ) Save
    
    button(
      ng-click="delete(model)"
    ) Delete
