.row(
  ng-hide="isTyping"
)
  
  //- 
  //- SNIPPIT LIST
  //- 
  .col-md-1.snippit-list.full.no-pad
    h3 Snippits
    
    .snippit(
      ng-click="openModal()"
    )
      span.glyphicon.glyphicon-plus 
      span New Snippit
    
    .snippit(
      ng-repeat="snippit in snippits track by snippit.id"
      ng-click="snippitClicked(snippit)"
      ng-class="{selected: snippit.selected}"
    ) {{snippit.name}}
  
  .col-md-3(
    ng-show="snippit.reports.length > 0"
  ) 
    h3 {{snippit.name}} Analytics
    
    canvas.chart.chart-line(
      chart-labels="labels" 
      chart-legend="true" 
      chart-series="series"
      chart-data="data"
    )
    
  //- 
  //- REPORT LIST
  //- 
  .col-md-1.report-list.full.no-pad(
    ng-show="snippit.reports.length > 0"
  )
    h3 Reports
    
    .report(
      ng-repeat="report in reports | orderBy:report.date:true track by report.id"
      ng-click="reportClicked(report)"
      ng-class="{selected: report.selected}"
    ) {{report.date | amCalendar}}
    
    
  //- 
  //- REPORT
  //- 
  .col-md-3.full.report-selected(
    ng-show="snippit && report"
  )
    h2 {{visible.date | amCalendar}}
    h5 Chars Per Minute (CPM): {{visible.charsPerMin}}
    h5 Tokens Per Minute (CPM): {{visible.tokensPerMin | number: 0}}
    h5 Accuracy: {{visible.accuracy | number:2}}% (Correct {{visible.correct}} / Total: {{visible.strokes}}))
    h5 Seconds Elapsed: {{visible.secElapsed}}
    h5 Average Token Length: {{visible.averageTokenLen | number:1}}
    
  //- 
  //- CODE PREVIEW
  //- 
  .col-md-4.full(
    ng-show="snippit"
  )
    h3 Snippit Preview
    pre.preview {{snippit.code}}
    button(
      ng-click="start(); typrStart()"
    ) Start Pratice!
  
  //- 
  //- HIDDEN TYPR
  //- 
.row(
  ng-show="isTyping"
) 
  .col-md-12.centered
    h1 {{snippit.name}}
    
  .col-md-12.full.centered
    typr-typing(
      snippit="snippit"
      is-typing="isTyping"
    ).typing
