
.row
  .col-md-2.snippit-list.no-pad.pt2.full
    .snippit.new(
      ng-click="openModal()"
    )
      span.glyphicon.glyphicon-plus 
      span New Snippit
    
    .snippit(
      ng-repeat="snippit in snippits track by snippit.id"
      ng-click="snippitClicked(snippit)"
      ng-class="{selected: snippit.selected}"
    ) 
      span {{snippit.name}} 
      //- i.glyphicon.glyphicon-menu-left
    
  
  .col-md-10.content.full
    .row
      .col-md-12 
        h1 {{snippit.name}}
        
    .row
      .col-md-4
        .col-md-12
          h2 Accuracy
          canvas.chart.chart-line(
            chart-labels="charts.accuracy.labels" 
            chart-legend="false" 
            chart-series="charts.accuracy.series"
            chart-data="charts.accuracy.data"
            ng-show="charts.accuracy.data[0].length > 0"
          )
        .col-md-12
          h2 CPM
          canvas.chart.chart-line(
            chart-labels="charts.cpm.labels" 
            chart-legend="false" 
            chart-series="charts.cpm.series"
            chart-data="charts.cpm.data"
            ng-show="charts.cpm.data[0].length > 0"
          )
        .col-md-12
          h2 Time
          canvas.chart.chart-line(
            chart-labels="charts.time.labels" 
            chart-legend="false" 
            chart-series="charts.time.series"
            chart-data="charts.time.data"
            ng-show="charts.time.data[0].length > 0"
          )
      
      .col-md-3
        h2 Reports
        
        .report(
          ng-repeat="report in reports | orderBy:'time':true track by report.id"
          ng-click="reportClicked(report)"
          ng-class="{selected: report.selected}"
        ) 
          h3 {{report.date | amCalendar}}
          h5 Chars Per Minute (CPM): {{report.charsPerMin}}
          h5 Tokens Per Minute (TPM): {{report.tokensPerMin | number: 0}}
          h5 Accuracy: {{report.accuracy | number:2}}% (Correct {{report.correct}} / Total: {{report.strokes}}))
          h5 Seconds Elapsed: {{report.secElapsed}}
          h5 Average Token Length: {{report.averageTokenLen | number:1}}
          
      .col-md-4
        h2 Snippit Preview
        pre.preview {{snippit.code}}
        
        button.start-practice(
          ng-click="openTypingModal()"
        ) 
          i.glyphicon.glyphicon-flag
          | Start Pratice! 
      
    
    
