.row
  //- 
  //- SNIPPIT LIST
  //- 
  .col-md-1.snippit-list.full.no-pad
    h3 Snippits
    
    .snippit(
      ng-click="openModal()"
    )
      span.glyphicon.glyphicon-plus 
      span New Snippit
    
    .snippit(
      ng-repeat="snippit in snippits track by snippit.id"
      ng-click="snippitClicked(snippit)"
      ng-class="{selected: snippit.selected}"
    ) {{snippit.name}}
  
  .col-md-3(
    ng-show="snippit.reports.length > 0"
  ) 
    h3 {{snippit.name}} Analytics
    
    h3 Accuracy
    canvas.chart.chart-line(
      chart-labels="charts.accuracy.labels" 
      chart-legend="false" 
      chart-series="charts.accuracy.series"
      chart-data="charts.accuracy.data"
      chart-hover=""
    )
    
    h3 CPM
    canvas.chart.chart-line(
      chart-labels="charts.cpm.labels" 
      chart-legend="false" 
      chart-series="charts.cpm.series"
      chart-data="charts.cpm.data"
      chart-hover=""
    )
    
    h3 Time
    canvas.chart.chart-line(
      chart-labels="charts.time.labels" 
      chart-legend="false" 
      chart-series="charts.time.series"
      chart-data="charts.time.data"
      chart-hover=""
    )
    
  //- 
  //- REPORT LIST
  //- 
  .col-md-1.report-list.full.no-pad(
    ng-show="snippit.reports.length > 0"
  )
    h3 Reports
    
    .report(
      ng-repeat="report in reports | orderBy:'time':true track by report.id"
      ng-click="reportClicked(report)"
      ng-class="{selected: report.selected}"
    ) {{report.date | amCalendar}}
    
    
  //- 
  //- REPORT
  //- 
  .col-md-3.full.report-selected(
    ng-show="snippit && report"
  )
    h2 {{visible.date | amCalendar}}
    h5 Chars Per Minute (CPM): {{visible.charsPerMin}}
    h5 Tokens Per Minute (CPM): {{visible.tokensPerMin | number: 0}}
    h5 Accuracy: {{visible.accuracy | number:2}}% (Correct {{visible.correct}} / Total: {{visible.strokes}}))
    h5 Seconds Elapsed: {{visible.secElapsed}}
    h5 Average Token Length: {{visible.averageTokenLen | number:1}}
    
  //- 
  //- CODE PREVIEW
  //- 
  .col-md-4.full(
    ng-show="snippit"
  )
    h3 Snippit Preview
    pre.preview {{snippit.code}}
    button(
      ng-click="openTypingModal()"
    ) Start Pratice!
