div(
  layout="column"
)
  h1 Your Favorite Snippits
  
  div(
    layout-wrap
    layout="row"
  )
    .fade(
      flex="33"
      ng-repeat="snippit in snippits"  
      style="min-width: 415px;"
    )
      md-card
        md-card-title
          md-card-title-text
            span.md-headline.md-fg-primary {{snippit.name}} ({{snippit.language}})
            span.md-subhead
              span Best Accuracy: 
                span.accent {{(snippit.bestACC | number:0) || 'N/A'}}
              br
              span Best Tokens Per Min: 
                span.accent {{(snippit.bestTPM | number:0) || 'N/A'}}
              br
              span Best Chars Per Min: 
                span.accent {{(snippit.bestCPM | number:0) || 'N/A'}}
        md-card-actions(
          layout="row"
          layout-align="end center"
        )
          md-button.md-primary.md-raised(
            ng-click="openSnippit(snippit)"
          ) 
            md-icon(
              md-font-library="material-icons"
            ) assignment
            | Reports
          md-button.md-primary.md-raised(
            ng-click="openSnippit(snippit)"
          ) 
            md-icon(
              md-font-library="material-icons"
            ) play_arrow
            | Practice
